<div class="container h-100 v-align">
    <div class="row center">
        <div class="col-12">
            <div class="icono v-align">
                <mat-icon>done</mat-icon>
            </div>
        </div>
        <div class="col-12">
            <h1>Alerta Enviada</h1>
        </div>
        <div class="col-12">
            <p>Se mandaran mensajes SMS a tu contacto de emergencia cada 30 segundos con tu ubicación.</p>
        </div>
        <div class="col-12">
            <button mat-raised-button color="primary" class="w-75" [routerLink]="['']">Okay</button>
        </div>
    </div>
</div>