.icono{
    background-color: #00C6AE;
    border-radius: 50%;
    border: solid 3px black;
    width: 161px;
    height: 161px;
}
.material-icons{
    font-size: 7rem;
}
.mat-icon{
    width: 7rem;
    height: 7rem;
}
p{
    font-weight: 600;
    color: #474A57;
}
h1{
    font-weight: 800;
}