.blue{
    background-color: #1947E5;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
}
span{
    font-size: 0.9rem;
}
.mt{
    margin: 0 auto;
}
.mb{
    margin-bottom: -20px;
}
.foto{
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px black;
    position: relative;
}
.foto > .inner-foto {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.chofer{
    border-radius: 10px;
    border: solid 2px black;
    overflow: hidden;
    height: 192px;
    width: 192px;
}
.mat-card{
    padding: 6px;
}
