.taxi{
    background-color: #FFBD12;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taxi-image{
    width: 80px;
    height: auto;
}
.mt{
    margin-top: 100px;
}
h1.cm{
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: 800;
}
.mat-icon{
    margin-right: 20px;
}
.mtb{
    margin-top: 30px;
}